<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This the Home Page</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore provident, esse sapiente tempora numquam perspiciatis nisi maxime aliquid incidunt. Accusamus deserunt hic eius amet, officia facilis provident possimus incidunt atque!
    </p>
    <button>click me</button>
</body>
</html>